$bgColor: #8B162C;
$pink: #E42D86;
$orange: #FAA351;
$darkOrange: #D23719;
$brightOrange: #EE702A;
$textColor: white;

* {
  padding: 0;
  margin: 0;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.navbar-custom {
  min-height: 100px;
  background-color: $bgColor;
  /* change the brand and text color */
  .navbar-brand, .navbar-text {
    color: rgba(255,255,255,.8);
  }
  /* change the link color */
  .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
  }
  /* change the color of active or hovered links */
  .nav-item.active .nav-link,
  .nav-item:hover .nav-link {
    color: #ffffff;
  }

  img {
    width: 75px;
    border-radius: 40px;
  }
}

main {
  margin-top: 100px;
  color: white;
  background-image: url("../images/bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $darkOrange;
  background-blend-mode: soft-light;
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  .main-text {
    max-width: 70%;
    h1 {
      text-align: center;
    }
    h2 {
      text-align: justify;
    }
  }
  .card {
    color: white;
    margin: 2rem;
    border: 0px;
    .card-body {
        background-color: $bgColor;
        padding: 0.5rem;
        .card-title {
          text-align: center;
          font-weight: bold;
        }
    }
  }
}

footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $bgColor;
  color: $textColor;

  #social {
    width: 100%;
    display: flex;
    justify-content: end;
    a {
      padding-right: 15px;
    }
    img {
      width: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
      font-size: 10px;
  }
  .navbar-brand {
    font-size: initial;
  }
  span.responsive {
    display: none;
  }
}